body {
    margin: 0;
    font-family: Arial;

    background-image: url('library.jpg');
    background-size: cover;
}

.box {
    width: 300px;
    margin: 100px auto;
    padding: 20px;

    background: rgba(0,0,0,0.8);
    color: white;
    text-align: center;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px;
    margin: 5px;
    width: 90%;
    background: green;
    color: white;
    border: none;
}
